/* BACKGROUND IMAGE */
body {
    background-image: url(images/robin2.png);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    font-family: "Montserrat", serif;
}

/* TEXT */
.container {
    display: flex;
    width: 100%;
    height: auto;
}

.left_body, .right_body {
    padding: 0;
    margin: 24em auto auto auto;
    color: white;
    flex-direction: row;
    justify-content: flex-end;
}

.left_body > h1, .right_body > h1 {
    font-size: 40px;
}

.left_body > h2, .right_body > h2 {
    color: rgb(255, 255, 255);
    font-weight: 900;
}

.right_body > h2, .right_body > h1 {
    text-align: right;
}