/* Global */
*{
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: "Montserrat", serif;
}

/* Navbar */
.nav_bar {
    width: 100%;
    height: auto;
    top:0;
    background-color: rgba(155, 143, 244, 0.5);
    overflow: hidden;
    display: flex;
    position: fixed;
}

.nav_logo {
    text-align: left;
    padding: 1em;
    margin:0;
}

.nav_links {
    margin: auto 1em auto auto;
}

.nav_links > a {
    margin: 1.75em 1em;
    padding: 0.4em;
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight:900;
    background-color: blueviolet;
    border-radius: 8px;
}

.nav_logo:hover {
    transform: scale(1.1);
    color: white;
}

.nav_links > a:hover {
    color:blueviolet;
    background-color: white;
    transform: scale(1.2);
}

.projects {
    margin-right: 3em;
}

/* Footer */
.footer {
    width: 100%;
    height: 10%;
    bottom: 0;
    background-color: rgba(155, 143, 244, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.social > a {
    margin: 0.5em;
}

.github:hover,.linkedin:hover {
    transform: scale(1.5);
}