/* GLOBAL */
*{
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    /* width: 100%; */
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", serif;
    background: linear-gradient(to top,#0000ff1a, #85009c59);
    background-repeat: none;
    background-attachment: fixed;
}

/* NAVBAR (also footer) */
.navbar {
    background-color: #9b8ff4bf;
}

.logo:hover, .social:hover {
    transform: scale(1.1); /*Navbar and Footer*/
}

.active {
    color: rgb(133,0,156) !important;
}

.navbar-nav > .nav-link:hover {
    color:blueviolet !important;
        background-color: white;
}

/* TRANSFROM BIG SCREENS */
@media only screen and (min-width: 768px) {
    .navbar-nav > .nav-link:hover {
    color:blueviolet !important;
        background-color: white;
        transform: scale(1.2);
    }
}

