/* Set max height for image */
/* .carousel-item > img {
    height: 12.5em;
}
@media only screen and (min-width: 768px) {
    .carousel-item > img {
        height: 25em;
    }
}
@media only screen and (min-width: 1200px) {
    .carousel-item > img {
        height: 37.5em;
    }
} */

/* .carousel-container {
    height: 12.5em;
}
@media only screen and (min-width: 768px) {
    .carousel-container {
        height: 25em;
    }
}
@media only screen and (min-width: 1200px) {
    .carousel-container  {
        height: 37.5em;
    }
}






.carousel {
    width: 25em;
} */
/* .carousel-inner > .item {
    height: 400px;
 } */