/*Styling h3 */
h3 {
    color:#85009c;
    background-color: rgba(255, 255, 255,0.4);
}

/*Styling h5*/
h5 {
    color:#85009c;
}

/*Width for title Large and above*/
@media only screen and (min-width: 992px) {
    .title  {
        width: 50%;
    }
}

/*Styling paragraph div for skills section*/
.icons {
    background-color: rgba(133, 0, 156,0.25);
}

