html, body {
    background: linear-gradient(to bottom,rgba(0,0,255,0.1), rgba(133,0,156,.35));
}


.carousel-item > img {
    width: 75px;
    height: 75px;
}


@media only screen and (min-width: 768px) {
    .carousel-item > img {
        width: 125px;
        height: 125px;
    }
}


@media only screen and (min-width: 1200px) {
    .carousel-item > img {
        width: 200px;
        height: 200px;
    }
}